body, html{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#wrapper{
	/*margin: 0 auto;
	margin-top: 30px;
	width: 800px;
	height: 600px;*/
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

#wrapper canvas {
	width: 100%;
	height: 100%;
}